@model FiveMotors.Models.Veiculo

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Layout_Adm.cshtml";
}

<h1 class="mb-4">Criar Novo Veículo</h1>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Marca" class="form-label"></label>
        <input asp-for="Marca" class="form-control" />
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Modelo" class="form-label"></label>
        <input asp-for="Modelo" class="form-control" />
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Ano" class="form-label"></label>
        <input asp-for="Ano" class="form-control" />
        <span asp-validation-for="Ano" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Preco" class="form-label"></label>
        <input asp-for="Preco" class="form-control" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Descricao" class="form-label"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Estoque" class="form-label"></label>
        <input asp-for="Estoque" class="form-control" />
        <span asp-validation-for="Estoque" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImagemsVeiculo" class="form-label"></label>
        <input asp-for="ImagemsVeiculo" class="form-control" />
        <span asp-validation-for="ImagemsVeiculo" class="text-danger"></span>
    </div>
    

    <button type="submit" class="btn text-white" style="background-color: #25d366;">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>
